@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,700;8..144,800;8..144,900&display=swap');
@font-face {
    font-family:gameboy;
    src: url("early_gameboy/Early\ GameBoy.ttf")
}

:root {
    --color1:#fde400;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3em;
}

.main-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    order: 2;
    gap: 5px;
    font-family: gameboy, sans-serif;
    padding: 3em;
}

h1 span {
    color: var(--color1);
}

.copy {
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 500;   
}

.copy a {
    font-weight: 600;
    text-decoration: none;
    color: var(--color1);
}

.copy p {
    margin: 10px 0 10px 0;
    font-size: 18px;
    border-bottom: 2px solid var(--color1);
    width: fit-content;
}

.tutorial {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.gameboy {
    margin-top: 2%;
    width: 330px;
    height: 35em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px 20px 60px 20px;
    background-image: url(https://media.istockphoto.com/id/182757166/photo/rubbery-plastic-texture-for-seamless-tiling.jpg?s=612x612&w=0&k=20&c=1R2PXG-eEax5X95YKzs3S_5s89KAWWUC1TE57q_tD00=);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 60px 0;
    border:3px solid black;

}

.bg-sup {
    margin-top:14%;
    background-image: url(img/Sup.png);
    background-size: cover;
    height: 21.2em;
    width: 20em;
    background-position:center;
    position:absolute;
    z-index:0;
    border-radius: 20px 20px 60px 20px;
}

.display {
    font-family: gameboy, sans-serif;
    background:#84acf5;
    color: var(--color1);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.767);
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 3%;
    height:10em;
    width:11em;
    font-size: 27px;
    background-image: url(https://media.tenor.com/Vr2vHhPRUHMAAAAd/surf-surfing.gif);
    background-size: 404px;
    background-repeat: none;
    padding-top: 40px;
    border: 14px solid black;
    border-radius: 20px 20px 60px 20px;
}

.display label {
    font-size: 20px;
    padding-left: 10px;

}

.display input {
    border: 2px solid var(--color1);
    width: 140px;
    margin-left: 10px;
}

.display span {
    display: block;
    padding-left: 10px;
}


.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 10em;
    width: 10em;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2px;
    background: #0000001e;
    margin-top: 15px;
    margin-right: 90px;
    z-index: 0;
}


.item1 {
    display: flex;
    justify-content: space-around;    
    height:60px;
    width:11.7em;
    align-items:center;
}

button {
    padding: 15px;
    border-radius: 50%;
    background: #252525;
    color: #969696;
}

.gameboy button:hover {
    filter: brightness(150%);
}

button a {
    text-decoration: none;
    color: #969696;
    object-fit: cover;
    border-radius: 50%;
    padding: 10px 10px 10px 10px;
}


@media (max-width:840px) {
    main {
        flex-direction: column;

    }

    .gameboy {
        order: 2;
        margin-top:0;
        margin-bottom: 10%;
    }
}

